<div class="container top30">
	<div class="row">
		<div class="col-md-3">
			<label for="termino">Buscar artistas</label>
			<input class="form-control" type="text" placeholder="Busque artista..."
						[(ngModel)]="termino"
						(keyup)="buscarArtista()">
		</div>
		<div class="col-md-9" *ngIf="termino.length > 0">
			<h1 class="text-capitalize">{{termino}}</h1>
			<hr>

			<div class="row">
				<div class="col-md-3 text-center puntero"
						 *ngFor="let artista of _spotify.artistas"
						 [routerLink]="['/artist',artista.id]">
					<img class="img-thumbnail" [src]="artista.images | sinfoto">
					<p>
						{{artista.name}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
