<div class="container">
	<br>
	<h1>Pipes</h1>
	<hr>

	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Variable</th>
	      <th scope="col">Pipe</th>
	      <th scope="col">Producto</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
				<!-- ################################ -->
				<!-- uppercase: Convertir el texto en mayúsculas -->
				<td>{{ texto }}</td>
				<td>uppercase</td>
	      <td>{{ texto | uppercase }}</td>
	    </tr>
			<tr>
				<!-- lowercase: Convertir texto en minúsculas -->
				<td>{{ texto }}</td>
				<td>lowercase</td>
	      <td>{{ texto | uppercase }}</td>
	    </tr>
			<!-- ################################ -->
			<tr>
				<!-- slice: Crea una nueva lista o cadena que contiene un subconjunto (porción) de los elementos
				array_or_string_expression | slice:start[:end]
				Con cadenas. Si se le indica un sólo parámetro:
				Retorna una cadena desde la posición indicada por el parámetro hasta el final de la cadena -->
				<!-- Las posiciones se empiezan a contar desde la 0 -->
				<td>{{ texto }}</td>
				<td>slice:3</td>
				<td>{{ texto | slice:3 }}</td>
			</tr>
			<tr>
				<!-- slice: Crea una nueva lista o cadena que contiene un subconjunto (porción) de los elementos
				array_or_string_expression | slice:start[:end]
				Con cadenas. Si se le indican dos parámetros:
				Retorna una cadena desde la posición indicada por el primer parámetro hasta la posición indicada por el segundo parámetro
				Las posiciones se empiezan a contar desde la 0 -->
				<td>{{ texto }}</td>
				<td>slice:0:3</td>
				<td>{{ texto | slice:0:3 }}</td>
			</tr>
			<tr>
				<!-- slice: Crea una nueva lista o cadena que contiene un subconjunto (porción) de los elementos
				array_or_string_expression | slice:start[:end]
				Con array. Si se le indica un sólo parámetro:
				Retorna un array desde la posición indicada por el parámetro hasta el final del array
				Las posiciones se empiezan a contar desde la 0 -->
				<td>{{ array }}</td>
				<td>slice:3</td>
				<td>{{ array | slice:3 }}</td>
			</tr>
			<tr>
				<!-- slice: Crea una nueva lista o cadena que contiene un subconjunto (porción) de los elementos
				array_or_string_expression | slice:start[:end]
				Con array. Si se le indican dos parámetros:
				Retorna un array desde la posición indicada por el primer parámetro hasta la posición indicada por el segundo parámetro
				Las posiciones se empiezan a contar desde la 0 -->
				<td>{{ array }}</td>
				<td>slice:0:3</td>
				<td>{{ array | slice:0:3 }}</td>
			</tr>
			<!-- ################################ -->
			<tr>
				<!-- number: Formatea un número según las reglas locales
				number_expression | number[:digitInfo[:locale]]
				digitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				Si no se le indican parámetros:
				Retorna un number con el mismo valor y con máximo 3 decimales -->
				<td>{{ pi }}</td>
				<td>number</td>
				<td>{{ pi | number }}</td>
			</tr>
			<tr>
				<!-- number: Formatea un número según las reglas locales
				number_expression | number[:digitInfo[:locale]]
				digitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				Si se le indican parámetros siempre tienen que tener el formato indicado
				Retorna un number con máximo 3 digitos enteros, con mínimo 0 decimales y máximo 0 decimales -->
				<td>{{ pi }}</td>
				<td>number:'3.0-0'</td>
				<td>{{ pi | number:'3.0-0' }}</td>
			</tr>
			<tr>
				<!-- number: Formatea un número según las reglas locales
				number_expression | number[:digitInfo[:locale]]
				digitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				Si se le indican parámetros siempre tienen que tener el formato indicado
				Retorna un number con máximo 1 digito entero, con mínimo 0 decimales y máximo 2 decimales -->
				<td>{{ pi }}</td>
				<td>number:'1.0-2'</td>
				<td>{{ pi | number:'1.0-2' }}</td>
			</tr>
			<!-- ################################ -->
			<tr>
				<!-- percent: Formatea un número como un porcentaje según las reglas locales
				number_expression | percent[:digitInfo[:locale]]
				digitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				Si no se le indican parámetros:
				Retorna el número Retorna un number con máximo 1 digito entero, con mínimo 0 decimales y máximo 2 decimales -->
				<td>{{ a }}</td>
				<td>percent</td>
				<td>{{ a | percent }}</td>
			</tr>
			<tr>
				<!-- percent: Formatea un número como un porcentaje según las reglas locales
				number_expression | percent[:digitInfo[:locale]]
				digitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				Si se le indican parámetros siempre tienen que tener el formato indicado
				Retorna un number con máximo 1 digito entero, con mínimo 0 decimales y máximo 2 decimales -->
				<td>{{ a }}</td>
				<td>percent:'1.0-2'</td>
				<td>{{ a | percent:'1.0-2' }}</td>
			</tr>
			<tr>
				<!-- percent: Formatea un número como un porcentaje según las reglas locales
				number_expression | percent[:digitInfo[:locale]]
				digitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				Si se le indican parámetros siempre tienen que tener el formato indicado
				Retorna un number con máximo 2 digitos enteros, con mínimo 2 decimales y máximo 2 decimales -->
				<td>{{ a }}</td>
				<td>percent:'2.2-2'</td>
				<td>{{ a | percent:'2.2-2' }}</td>
			</tr>
			<!-- ################################ -->
			<tr>
				<!-- currency: Formatea un número como moneda usando las reglas de configuración regional
				number_expression | currency[:currencyCode[:display[:digitInfo[:locale]]]]
				currencyCode es el código de moneda ISO 4217, como USD (dólar estadounidense) y EUR (euro).
				display indica si mostrar el símbolo de moneda o el código.
					code: use el código (por ejemplo USD).
					symbol(predeterminado): use el símbolo (por ejemplo $).
					symbol-narrow: algunos países tienen dos símbolos para su moneda, uno regular y otro angosto (por ejemplo, el dólar canadiense CAD tiene el símbolo CA$y el símbolo es angosto $).
					boolean (obsoleto desde v5): truepara símbolo y falso para code Si no hay un símbolo angosto para la moneda elegida, se usará el símbolo regular.
				ddigitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				locale es un string definición de la configuración regional a usar (utiliza la corriente LOCALE_ID de forma predeterminada)
				Retorna una cadena con el valor formateado a la moneda indicda. Es este caso es la moneda por defecto, Dollar pero además mostrándose el símbolo ($) -->
				<td>{{ salario }}</td>
				<td>currency</td>
				<td>{{ salario | currency }}</td>
			</tr>
			<tr>
				<!-- currency: Formatea un número como moneda usando las reglas de configuración regional
				number_expression | currency[:currencyCode[:display[:digitInfo[:locale]]]]
				currencyCode es el código de moneda ISO 4217, como USD (dólar estadounidense) y EUR (euro).
				display indica si mostrar el símbolo de moneda o el código.
					code: use el código (por ejemplo USD).
					symbol(predeterminado): use el símbolo (por ejemplo $).
					symbol-narrow: algunos países tienen dos símbolos para su moneda, uno regular y otro angosto (por ejemplo, el dólar canadiense CAD tiene el símbolo CA$y el símbolo es angosto $).
					boolean (obsoleto desde v5): truepara símbolo y falso para code Si no hay un símbolo angosto para la moneda elegida, se usará el símbolo regular.
				ddigitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				locale es un string definición de la configuración regional a usar (utiliza la corriente LOCALE_ID de forma predeterminada)
				Retorna una cadena con el valor formateado a la moneda indicda. En este caso es EUR pero sin mostrar el símbolo -->
				<td>{{ salario }}</td>
				<td>currency:'EUR':false</td>
				<td>{{ salario | currency:'EUR':false }}</td>
			</tr>
			<tr>
				<!-- currency: Formatea un número como moneda usando las reglas de configuración regional
				number_expression | currency[:currencyCode[:display[:digitInfo[:locale]]]]
				currencyCode es el código de moneda ISO 4217, como USD (dólar estadounidense) y EUR (euro).
				display indica si mostrar el símbolo de moneda o el código.
					code: use el código (por ejemplo USD).
					symbol(predeterminado): use el símbolo (por ejemplo $).
					symbol-narrow: algunos países tienen dos símbolos para su moneda, uno regular y otro angosto (por ejemplo, el dólar canadiense CAD tiene el símbolo CA$y el símbolo es angosto $).
					boolean (obsoleto desde v5): truepara símbolo y falso para code Si no hay un símbolo angosto para la moneda elegida, se usará el símbolo regular.
				ddigitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				locale es un string definición de la configuración regional a usar (utiliza la corriente LOCALE_ID de forma predeterminada)
				Retorna una cadena con el valor formateado a la moneda indicda. En este caso es EUR pero mostrando el símbolo (€) -->
				<td>{{ salario }}</td>
				<td>currency:'EUR':true</td>
				<td>{{ salario | currency:'EUR':true }}</td>
			</tr>
			<tr>
				<!-- currency: Formatea un número como moneda usando las reglas de configuración regional
				number_expression | currency[:currencyCode[:display[:digitInfo[:locale]]]]
				currencyCode es el código de moneda ISO 4217, como USD (dólar estadounidense) y EUR (euro).
				display indica si mostrar el símbolo de moneda o el código.
					code: use el código (por ejemplo USD).
					symbol(predeterminado): use el símbolo (por ejemplo $).
					symbol-narrow: algunos países tienen dos símbolos para su moneda, uno regular y otro angosto (por ejemplo, el dólar canadiense CAD tiene el símbolo CA$y el símbolo es angosto $).
					boolean (obsoleto desde v5): truepara símbolo y falso para code Si no hay un símbolo angosto para la moneda elegida, se usará el símbolo regular.
				ddigitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				locale es un string definición de la configuración regional a usar (utiliza la corriente LOCALE_ID de forma predeterminada)
				Retorna una cadena con el valor formateado a la moneda indicda. En este caso 4 dígitos enteros junto con la moneda es EUR pero mostrando el símbolo (€) -->
				<td>{{ salario }}</td>
				<td>currency:'EUR':true:'4.0-0'</td>
				<td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
			</tr>
			<tr>
				<!-- currency: Formatea un número como moneda usando las reglas de configuración regional
				number_expression | currency[:currencyCode[:display[:digitInfo[:locale]]]]
				currencyCode es el código de moneda ISO 4217, como USD (dólar estadounidense) y EUR (euro).
				display indica si mostrar el símbolo de moneda o el código.
					code: use el código (por ejemplo USD).
					symbol(predeterminado): use el símbolo (por ejemplo $).
					symbol-narrow: algunos países tienen dos símbolos para su moneda, uno regular y otro angosto (por ejemplo, el dólar canadiense CAD tiene el símbolo CA$y el símbolo es angosto $).
					boolean (obsoleto desde v5): truepara símbolo y falso para code Si no hay un símbolo angosto para la moneda elegida, se usará el símbolo regular.
				ddigitInfo es un string que tiene un siguiente formato: {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}
					minIntegerDigitses el número mínimo de dígitos enteros para usar. Predeterminado a 1.
					minFractionDigitses el número mínimo de dígitos después de la fracción. Predeterminado a 0.
					maxFractionDigitses la cantidad máxima de dígitos después de la fracción. Predeterminado a 3.
				locale es un string definición de la configuración regional a usar (utiliza la corriente LOCALE_ID de forma predeterminada)
				Retorna una cadena con el valor formateado a la moneda indicda. En este caso tantos dígitos enteros como tenga el número y 2 como mínimo y máximo de decimales -->
				<td>{{ salario }}</td>
				<td>number:'.2-2'</td>
				<td>{{ salario | number:'.2-2' }}</td>
			</tr>
			<!-- ################################ -->
			<tr>
				<!-- JSON: Convierte el valor en cadena JSON
				expression | json
				Retorna una cadena con el valor formateado a la moneda indicda. Es este caso es la moneda por defecto, Dollar pero además mostrándose el símbolo ($) -->
				<td>{{ salario }}</td>
				<td>currency</td>
				<td>{{ salario | currency }}</td>
			</tr>
	  </tbody>
	</table>

	<h4>Slice</h4>
	<ul>
		<!-- slice: Crea una nueva lista o cadena que contiene un subconjunto (porción) de los elementos
		array_or_string_expression | slice:start[:end]
		Con array. Si se le indican dos parámetros:
		Retorna un array desde la posición indicada por el primer parámetro hasta la posición indicada por el segundo parámetro
		Las posiciones se empiezan a contar desde la 0 -->
		<li *ngFor="let item of array | slice:5:20">{{ item }}</li>
	</ul>

	<h4>JSON</h4>
		<!-- Muestra el objeto JSON -->
		{{ heroe | json }}

	<h4>JSON</h4>
	<!-- Muestra el objeto JSON con formato de tabulación -->
	<pre>
		{{ heroe | json }}
	</pre>

</div>
