<div class="container">
	<br>
	<h1>Pipes</h1>
	<hr>

	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Variable</th>
	      <th scope="col">Pipe</th>
	      <th scope="col">Producto</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
				<!-- uppercase: Convertir el texto en mayúsculas -->
				<td>{{ nombre }}</td>
				<td>uppercase</td>
	      <td>{{ nombre | uppercase }}</td>
	    </tr>
			<tr>

				<td>{{ nombre }}</td>
				<td>uppercase</td>
	      <td>{{ nombre | uppercase }}</td>
	    </tr>
				<!-- lowercase: Convertir texto en minúsculas -->
	  </tbody>
	</table>

</div>
